<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>local.red-alert-slack</string>

    <key>ProgramArguments</key>
    <array>
      <string>/usr/bin/env</string>
      <string>node</string>
      <string>/Users/denis/projects/red-alert-slack/dist/index.js</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/denis/projects/red-alert-slack</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/denis/projects/red-alert-slack/red-alert-slack.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/denis/projects/red-alert-slack/red-alert-slack.error.log</string>
  </dict>
</plist>

